body{
    width: 100%;
    background-color: #fff;
    font-size: 30;
}
h1{
    color:#0044cc ;
}
img{
    padding: 10px 10px  10px  10px;
}
.login{
    border: 5px dashed #0044cc;
   width: 600px;
   text-align:center;
}
.center{
    text-align:center;
}
.label{
    font-size: 30px;
    color: crimson;
}
    input[type=text],input[type=password]{
        width: 50%;
        height: 50px;
       
    }
    
    input[type=submit]{
        width: 20%;
        height: 50px;
        background-color: rgba(211, 81, 81, 0);
    }
    .header{
        width: 100%;
        background-color: rgb(179, 167, 190);
        padding: 5px 5px;

    }
    .page{
    margin: 20px;
       
        width: 100%;
        background-color: rgb(150, 137, 121);
    }
    .left{
        width: 30px; ;
    }
    .right{
        width: 60px; ;
    }